.cards {
  max-width: 1184px;
  height: 442px;
  flex-shrink: 0;
}
.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin: 0;
}
