.images {
  max-width: 1184px;
  height: 442px;
  flex-shrink: 0;
  /* margin-bottom: 92px; */
}
.images__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin: 0;
}

.images__list-photo {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .images {
    width: 768px;
    height: 100%;
  }
  .images__list {
    padding: 0;
    width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 24px 89px;
  }
  .images__list-item {
    max-width: 352px;
  }
}
@media screen and (max-width: 320px) {
  .images {
    width: 288px;
  }
  .images__list {
    padding: 0;
    width: 288px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 12px;
    margin: 0 auto 62px;
  }
}
