.places {
  max-width: 987px;
  margin: 0 auto;
}

.places__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 203px auto auto;
  grid-template-areas: "title artist" "image text" "button text-bottom" "button text-bottom";
}

.places__card-title {
  display: grid;
  max-width: 440px;
  color: #fff;
  font-family: "Inter";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  word-wrap: break-word;
  grid-area: title;
  margin-top: 92px;
}

.places__card-artist {
  display: grid;
  max-width: 58px;
  height: 15px;
  color: #aaa;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  grid-area: artist;
  margin-top: 199px;
  margin-bottom: 8px;
}

.places__card-artist-name {
  display: grid;
  max-width: 456px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  grid-area: artist;
  margin-top: 222px;
  margin-bottom: 48px;
}

.places__card-image {
  max-width: 460px;
  width: 100%;
}

.places__card-text {
  max-width: 484px;
  height: 203px;
  display: grid;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  grid-area: text;
  margin: 0px;
  grid-row-gap: 25px;
}

.places__card-text-bottom {
  max-width: 484px;
  display: grid;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  grid-area: text-bottom;
  margin-top: 25px;
}

.places__card-button {
  display: grid;
  max-width: 315px;
  height: 22px;
  padding: 13px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #0278fe;
  grid-area: button;
}
